*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 1px solid red;
}
body{
    min-height: 100vh;
}
main{
    min-height: 100vh;
}

button{
    background-color: rgb(95, 87, 87);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color:white;
    padding: 5px;
    margin-top: 20px;
}